body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  min-height: 100vh;
  font-family: "Poppins", sans-serif;
  color: rgba(255, 255, 255, 0.87);
  background-color: #121212;
  background-image: radial-gradient(at bottom, #715cab, #121212);
}

body::before,
body::after {
  position: absolute;
  left: 0;
  top: 0;
  content: '';
  width: 100%;
  height: 100%;
  z-index: 9999;
  opacity: 30%;
  z-index: -1;
}


body::before {
  background-color: #121212;
  filter: url(#grain) opacity(50%);
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.drop-area {
  display: flex;
  justify-content: center;
  align-self: center;
  width: 60vw;
  height: 30vh;
  border: 2px solid rgba(245, 245, 245, 0.452);
  background-color: rgba(56, 56, 56, 0.2);
  padding: 0px;
  cursor: pointer;
  margin-bottom: 20px;
  border-radius: 25px;
  backdrop-filter: blur(10px);
}

.drop-area p {
  text-align: center;
  margin: auto;
  font-size: 1.2rem;
}

.drop-area.dragover {
  border-color: #000;
  background-color: #f0f0f0;
}



.title {
  font-size: 4rem;
  height: 5rem;
}

p {
  margin: 0;
}

#convertButton {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 1rem;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  align-self: center;
}


#convertButton:hover .icon {
  animation: spin 3s infinite;
}

#outputFormat {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 1rem;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: white;
  color: 1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  align-self: center;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.menu {
  display: flex;
  flex-direction: row;
}